<div class="component-tenant-admin-roles">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form class="form-role" method="post" action="" [formGroup]="roleForm" (ngSubmit)="submit">
                    <fieldset>
                        <div class="messages">
                            <p>Please provide the details below to add a role to this tenant</p>
                            <p *ngIf="message != ''" [attr.class]="message_type" >{{ message }}</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="name" name="name" required matInput class="field-name field-required" formControlName="name"/>
                            <mat-hint>Role Name</mat-hint>
                            <mat-icon matSuffix>name</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input type="text" id="description" name="description" matInput class="field-description field-required" formControlName="description"/>
                            <mat-hint>Description</mat-hint>
                            <mat-icon matSuffix>Description</mat-icon>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-tenant-admin-roles -->