<div class="component-home">
    <div class="container-content">
        <div class="content">
            <div class="pane pane-1">
                <a title="Return to Home" class="link" routerLink="">Return Home</a>
                <div class="container-form">
                    <form class="forgot-pw" method="post" action="" [class.enabled]="enabled" [formGroup]="forgotPwForm" (ngSubmit)="complete()">
                        <header>Forgot Password</header>
                        <fieldset>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" id="email" name="email" required readonly matInput class="field-email field-required" formControlName="email"/>
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                        </fieldset>
                        <fieldset>
                            <button id="btn-submit-forgot-pw" 
                                type="submit" 
                                [attr.disabled]="enabled ? null : false"
                                >Send Link</button>
                        </fieldset>
                    </form>
                </div><!-- .container-form -->
                <a title="Sign Up" class="link" routerLink="/sign-in">Sign In</a>
            </div><!-- .pane -->
            <div class="pane pane-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in turpis maximus, porttitor quam eu, tempor felis. Nullam vehicula lobortis justo, a consectetur massa maximus vel. Aenean in aliquet mi, et congue erat. Suspendisse velit est, porttitor et arcu eu, interdum finibus tortor. Vestibulum porta egestas finibus. Mauris nec neque in justo condimentum pretium. Ut quis congue ipsum, eu vulputate augue. Nam non nulla sed nulla elementum mattis. Praesent molestie orci vitae justo pellentesque sagittis. Ut sodales massa ligula, quis posuere nisl rhoncus semper. Nam a volutpat nulla, sit amet aliquam leo. Cras vitae nisi vitae tortor malesuada eleifend. Mauris ultricies, nisi ac cursus faucibus, turpis tortor tempus leo, at sagittis eros arcu sed nulla. Nullam faucibus vel elit ut malesuada. Vivamus vitae quam et nunc faucibus gravida. 
                </p>
            </div><!-- .pane -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .container-component -->