<div class="component-payroll-list">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form class="form-payroll-list" method="post" action="">
                    <fieldset>
                        <table id="tbl-payroll-list">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>name</th>
                                    <th>from</th>
                                    <th>to</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-payroll-list -->