<div class="component-admin-tenants-dashboard">
    <div class="container-content">
        <div class="content">
            <mat-toolbar color="primary" id="tb-tenants">
                <button mat-button class="btn btn-tenants" aria-label="Tenants" [matMenuTriggerFor]="mnu_tenants">
                    Tenants
                </button>
            </mat-toolbar>
            <mat-menu #mnu_tenants="matMenu">
                <a mat-menu-item id="link-tenants" title="Tenants" class="link link-tenants" [routerLink]="['/admin/tenants/list']">Tenants</a>
                <mat-divider></mat-divider>
                <a mat-menu-item id="link-tenants-new" title="New Tenant" class="link link-tenants-new" [routerLink]="['/admin/tenants/tenant']">New Tenants</a>
            </mat-menu>
            <div class="router-content">
                <router-outlet></router-outlet>
            </div><!-- .router-content -->
        </div><!-- .content -->
    </div><!-- .container-content s-->
</div><!-- .component-admin-tenants-dashboard -->