<div class="component-tenant-admin-members">
    <div class="container-content">
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>actions</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr>
                        <td></td>
                        <td>test@email.com</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-tenant-admin-members -->