<div id="component-app">
  <mat-toolbar color="primary" id="tb-main">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ app_name }}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="settings icon" aria-label="Settings" [matMenuTriggerFor]="mnu_settings">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #mnu_settings="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>redial</span>
      </button>
      <a mat-menu-item title="Sign In" routerLink="/sign-in">Sign In</a>
      <a mat-menu-item title="Sign In" routerLink="/sign-out">Sign Out</a>
    </mat-menu>
  </mat-toolbar>

  <div class="container-outlet">
    <router-outlet></router-outlet>
  </div><!-- .container-outlet -->
</div><!-- #component-app -->