<div id="component-app" *ngIf="(user$ | async) as user">
  <mat-toolbar color="primary" id="tb-main">
    <button mat-icon-button class="btn btn-nav-left" aria-label="Show left navigation pane" (click)="$navleft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ app_name }}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="btn btn-nav-right" aria-label="Show notifications pane" (click)="$navright.toggle()">
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-button class="btn btn-user" [attr.title]="user.name | titlecase" [attr.aria-label]="user.name" [matMenuTriggerFor]="mnu_settings">
      {{ user.name | titlecase }}
    </button>

    <mat-menu #mnu_settings="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>redial</span>
      </button>
      <a mat-menu-item id="link-user-profile" title="Profile" routerLink="/user-profile" *ngIf="user.is_signed_in">Profile</a>
      <mat-divider></mat-divider>
      <a mat-menu-item id="link-sign-in" title="Sign In" routerLink="/sign-in" *ngIf="!user.is_signed_in">Sign In</a>
      <a mat-menu-item id="link-sign-out" title="Sign Out" routerLink="/sign-out" *ngIf="user.is_signed_in">Sign Out</a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="container-sidenav">
    <mat-sidenav class="nav-left" #$navleft mode="over" position="start">
      nav-left
    </mat-sidenav>

    <mat-sidenav class="nav-right" #$navright mode="over" position="end">
      <div class="container-notifications">
        <header>Messages</header>
        <div class="container-message" *ngFor="let m or messages">
          <button type="button" id="close" class="btn-close">
            <mat-icon>close</mat-icon>
          </button>
          <div class="message">
            <pre>{{ m }}</pre>
          </div><!-- .message -->
        </div><!-- .container-message -->
      </div><!-- .container-notifications -->
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-outlet">
        <router-outlet></router-outlet>
      </div><!-- .container-outlet -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><!-- #component-app -->