<div id="component-app" *ngIf="(user$ | async) as user">
  <mat-toolbar color="primary" id="tb-main">
    <button mat-icon-button class="btn btn-nav-left" aria-label="Show left navigation pane" (click)="$navleft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a title="Home" class="link-home" href="/" mat-button>{{ app_name }}</a>
    <button mat-button class="btn btn-tenant-select" aria-label="Select Organization" [matMenuTriggerFor]="mnu_tenant">
      Default <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="btn btn-nav-right" aria-label="Show notifications pane" (click)="$navright.toggle()">
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-button class="btn btn-user" [attr.title]="user.name | titlecase" [attr.aria-label]="user.name" [matMenuTriggerFor]="mnu_settings">
      {{ user.name | titlecase }}
    </button>

    <mat-menu #mnu_tenant="matMenu">
      <a mat-menu-item id="link-client-default" title="Default">Default</a>
      <a mat-menu-item id="link-client-client1" title="Client 1">Client 1</a>
      <a mat-menu-item id="link-client-client2" title="Client 2">Client 2</a>

      <ng-container *ngFor="let tenant of user.tenants">
        <a mat-menu-item id="link-tenant" title="{{ tenant.name }}">{{ tenant.name }}</a>
      </ng-container>

      <mat-divider></mat-divider>
      <ng-template [ngIf]="user.is_signed_in">
        <a mat-menu-item id="link-tenant-join" title="Join Organization" routerLink="/join">Join Organization</a>
      </ng-template>
      <ng-template [ngIf]="!user.is_signed_in">
        <a mat-menu-item id="link-tenant-join" title="Join Organization" routerLink="/sign-in" [queryParams]="{ destination: '/join' }">Join Organization</a>
      </ng-template>
    </mat-menu>

    <mat-menu #mnu_settings="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>redial</span>
      </button>
      <a mat-menu-item id="link-user-profile" title="Profile" routerLink="/user-profile" *ngIf="user.is_signed_in">Profile</a>
      <mat-divider></mat-divider>
      <a mat-menu-item id="link-sign-in" title="Sign In" routerLink="/sign-in" *ngIf="!user.is_signed_in">Sign In</a>
      <a mat-menu-item id="link-sign-out" title="Sign Out" routerLink="/sign-out" *ngIf="user.is_signed_in">Sign Out</a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="container-sidenav">
    <mat-sidenav class="nav-left" #$navleft mode="over" position="start">
      <div class="container-modules">
        <section class="modules">
          <header>Modules</header>
          <div class="module-list">
            <ul>
              <li>
                <div><a title="Admin" class="link link-admin" [routerLink]="['/admin']">Admin</a></div>
                <ul>
                  <li><a ttile="Tenants" class="link link-tenants" [routerLink]="['admin/tenants']">Tenants</a></li>
                  <li><a ttile="Users" class="link link-users" [routerLink]="['admin/users']">Users</a></li>
                </ul>
              </li>
              <li>
                <div><a title="Tenant Administration" class="link link-tenant-admin" [routerLink]="['/tenant-admin']">Tenant Administration</a></div>
                <ul>
                  <li><a title="Organizations" class="link link-orgs" [routerLink]="['/tenant-admin/orgs']">Organizations</a></li>
                  <li><a title="Members" class="link link-members" [routerLink]="['/tenant-admin/members/list']">Members</a></li>
                  <li><a title="Roles" class="link link-roles" [routerLink]="['/tenant-admin/roles/list']">Roles</a></li>
                </ul>
              </li>
              <li><a title="Human Resources" class="link link-hr" [routerLink]="['/hr']">Human Resources</a></li>
              <li>Accounting</li>
              <li><a title="Customer Relations" class="link link-crms" [routerLink]="['/crms']">Customer Relations</a></li>
              <li><a title="Inventory" class="link link-inventory" [routerLink]="['/inventory']">Inventory</a></li>
            </ul>
          </div><!-- .module-list -->
        </section>
      </div><!-- .container-modules -->
    </mat-sidenav>

    <mat-sidenav class="nav-right" #$navright mode="over" position="end">
      <div class="container-notifications">
        <header>Messages</header>
        <div class="container-message" *ngFor="let m of messages">
          <button type="button" id="close" class="btn-close">
            <mat-icon>close</mat-icon>
          </button>
          <div class="message">
            <pre>{{ m | json }}</pre>
          </div><!-- .message -->
        </div><!-- .container-message -->
      </div><!-- .container-notifications -->
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-outlet">
        <router-outlet></router-outlet>
      </div><!-- .container-outlet -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><!-- #component-app -->