<div class="component-admin-tenants-tenant">
    <div class="container-content">
        <div class="content">
            <h1>Tenant</h1>
            <div class="container-form">
                <form class="form-tenant" method="post" action="" [formGroup]="tenantForm" [class.enabled]="enabled" (ngSubmit)="save()">
                    <fieldset>
                        <mat-toolbar>
                            <caption>Location</caption>
                            <button type="submit" mat-icon-button class="icon icon-save" aria-label="Save">
                                <mat-icon>save</mat-icon>
                            </button>
                        </mat-toolbar>
                    </fieldset>
                    <fieldset>
                        <div class="messages">
                            <p>Please provide the details below to sign complete the registration</p>
                            <p *ngIf="message != ''" [attr.class]="message_type" >{{ message }}</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="name" name="name" required matInput class="field-name field-required" [attr.readonly]="!enabled" formControlName="name"/>
                            <mat-hint>tenant name</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Slug</mat-label>
                            <input type="text" id="slug" name="slug" required matInput class="field-slug field-required" [attr.readonly]="!enabled" formControlName="slug"/>
                            <mat-hint>tenant slug</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input type="text" id="description" name="description" matInput class="field-description field-required" [attr.readonly]="!enabled" formControlName="description"/>
                            <mat-hint>tenant description</mat-hint>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <button type="submit" id="btn-submit" [attr.disabled]="enabled ? null : false">
                            Save
                        </button>
                    </fieldset>
                    <input type="hidden" id="tenant_id" formControlName="tenant_id" />
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-admin-tenants-tenant -->