<div class="component-hr-home">
    <div class="container-content">
        <div class="content">
            <mat-toolbar color="primary" id="tb-hr">
                <a mat-button class="link link-hr" aria-label="Human Resources" [routerLink]="['/hr']">
                    Human Resources
                </a>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-button class="btn btn-employees" aria-label="Employees" [matMenuTriggerFor]="mnu_employees">
                    Employees
                </button>
                <button mat-button class="btn btn-payroll" aria-label="Payroll" [matMenuTriggerFor]="mnu_payroll">
                    Payroll
                </button>
            </mat-toolbar>
            <mat-menu #mnu_employees="matMenu">
                <a mat-menu-item id="link-hr-employees" title="Employees" class="link link-hr-employees" [routerLink]="['/hr/employees']">Employees</a>
                <mat-divider></mat-divider>
                <a mat-menu-item id="link link-hr-employee-new" title="New Employee" class="link link-hr-employee-new" [routerLink]="['/hr/employees/new']">New Employee</a>
            </mat-menu>
            <mat-menu #mnu_payroll="matMenu">
                <a mat-menu-item id="link-hr-payroll" title="Payroll" class="link link-payroll" [routerLink]="['/hr/payroll']">Payroll</a>
                <mat-divider></mat-divider>
                <a mat-menu-item id="link link-hr-employee-new" title="New Employee" class="link link-hr-employee-new" [routerLink]="['/hr/payroll/new']">New Employee</a>
            </mat-menu>
            <div class="router-content">
                <router-outlet></router-outlet>
            </div><!-- .router-content -->

        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-hr-home -->