<div class="component-sign-in">
    <div class="container-content">
        <div class="content">
            <div class="pane pane-1">
                <div class="container-form">
                    <a title="Return to Home" class="link" routerLink="">Return Home</a>
                    <form class="sign-in" method="post" action="" [formGroup]="signinForm" (ngSubmit)="signin()">
                        <header>Sign In</header> 
                        <fieldset>
                            <div class="messages">
                                <p>Please provide the details below to sign in</p>
                                <p *ngIf="message != ''" [attr.class]="message_type" >{{ message }}</p>
                            </div>
                        </fieldset>
                        <fieldset>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" id="email" name="email" required matInput class="field-email field-required" formControlName="email"/>
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" id="pw" name="pw" required matInput class="field-pw field-required" formControlName="pw"/>
                                <mat-icon matSuffix>password</mat-icon>
                            </mat-form-field>
                        </fieldset>
                        <fieldset>
                            <button id="btn-submit-signin" type="submit">
                                Sign In
                                <mat-icon>login</mat-icon>
                            </button>
                        </fieldset>
                    </form>
                    <a title="Sign Up" class="link" routerLink="/sign-up">Sign Up</a>
                </div><!-- .container-form -->
            </div><!-- .pane -->
            <div class="pane pane-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in turpis maximus, porttitor quam eu, tempor felis. Nullam vehicula lobortis justo, a consectetur massa maximus vel. Aenean in aliquet mi, et congue erat. Suspendisse velit est, porttitor et arcu eu, interdum finibus tortor. Vestibulum porta egestas finibus. Mauris nec neque in justo condimentum pretium. Ut quis congue ipsum, eu vulputate augue. Nam non nulla sed nulla elementum mattis. Praesent molestie orci vitae justo pellentesque sagittis. Ut sodales massa ligula, quis posuere nisl rhoncus semper. Nam a volutpat nulla, sit amet aliquam leo. Cras vitae nisi vitae tortor malesuada eleifend. Mauris ultricies, nisi ac cursus faucibus, turpis tortor tempus leo, at sagittis eros arcu sed nulla. Nullam faucibus vel elit ut malesuada. Vivamus vitae quam et nunc faucibus gravida. 
                </p>
            </div><!-- .pane -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-sign-in -->