<div class="component-tenant-list">
    <div class="container-content">
        <h1>Tenant List</h1>
        <div class="container-form">
            <form class="form-tenant-list" method="post" action="">
                <fieldset>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Description</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td><input title="Active" type="checkbox" /></td>
                                <td>sample name</td>
                                <td>sample slug</td>
                                <td>sample description</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div><!-- .container-form -->
    </div><!-- .container-content -->
</div><!-- .component-tenant-list -->