<div class="component-tenant-list">
    <div class="container-content">
        <div class="content">
            <h1>Tenant List</h1>
            <div class="container-form">
                <form class="form-tenant-list" method="post" action="" [formGroup]="tenantsForm" (ngSubmit)="submit()">
                    <fieldset>
                        <button type="submit">submit</button>
                    </fieldset>
                    <fieldset>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                </tr>
                            </tfoot>
                            <tbody formArrayName="tenants">
                                <ng-container *ngFor="let t of tenants.controls; let index = index">
                                    <tr [formGroupName]="index">
                                        <input type="hidden" name="tenant_id" formControlName="tenant_id" />
                                        <!-- <pre>{{ t.value | json }}</pre> -->
                                        <td><a title="Members" [routerLink]="['/admin/tenants/members', t.value.slug]">Members</a></td>
                                        <td><input type="checkbox" name="active" formControlName="active"/></td>
                                        <td><input type="text" name="name" formControlName="name" /></td>
                                        <td><input type="text" name="slug" formControlName="slug" /></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-tenant-list -->