<div class="object-selector-component">
    <div class="container-content">
        <div class="filter">
            <form class="filterForm" method="post" action="">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input type="search" id="search" name="search" matInput class="field-search"/>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div><!-- .search -->
        <div class="browser">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .browser -->
        <div class="selected-items">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- .container-content -->
</div><!-- .object-selector-component -->