<div class="component-inv-warehouses">
    <div class="container-content">
        <div class="content">
            <h3>Warehouses</h3>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                </tfoot>
                <tbody>
                    <tr>
                        <td></td>
                        <td>name</td>
                        <td>description</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-inv-warehouses -->