<div class="component-member-list">
    <div class="container-content">
        <div class="content">
            <h3>Tenant Members</h3>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Email</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td></td>
                        <td>email@email.com</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-member-list -->