<div class="component-inv-material-receipt">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form id="form_material_receipt" class="form-material-receipt" method="post" action="">
                    <fieldset>
                        <mat-toolbar>
                            <caption>Material Receipt</caption>
                            <button mat-icon-button class="icon icon-save" aria-label="Save">
                                <mat-icon>save</mat-icon>
                            </button>
                        </mat-toolbar>
                    </fieldset>
                    <fieldset>
                        
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-inv-material-receipt -->