<div class="component-inventory-location">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form id="form_location" class="form-location" method="post" action="">
                    <fieldset>
                        <mat-toolbar>
                            <caption>Location</caption>
                            <button mat-icon-button class="icon icon-save" aria-label="Save">
                                <mat-icon>save</mat-icon>
                            </button>
                        </mat-toolbar>
                    </fieldset>
                    <fieldset>
                        <div class="field-group">
                            <label for="warehouse">Warehouse</label>
                            <select id="warehouse" class="field field-warehouse">

                            </select>
                        </div><!-- .field-group -->
                        <div class="field-group">
                            <label for="level">Level</label>
                            <input type="text" id="level" name="level" />
                        </div><!-- .field-group -->
                        <div class="field-group">
                            <label for="shelf">Shelf</label>
                            <input type="text" id="shelf" name="shelf" />
                        </div><!-- .field-group -->
                        <div class="field-group">
                            <label for="bin">Bin</label>
                            <input type="text" id="bin" name="bin" />
                        </div><!-- .field-group -->
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-inventory-location -->