<div class="container-component">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form class="form-organization" method="post" action="" [formGroup]="orgForm" (ngSubmit)="submit">
                    <fieldset>
                        <mat-toolbar>
                            <caption>Location</caption>
                            <button mat-icon-button class="icon icon-save" aria-label="Save">
                                <mat-icon>save</mat-icon>
                            </button>
                        </mat-toolbar>
                    </fieldset>
                    <fieldset>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="name" name="name" required matInput class="field-name field-required" formControlName="name"/>
                            <mat-hint>Role Name</mat-hint>
                            <mat-icon matSuffix>name</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input type="text" id="description" name="description" required matInput class="field-description field-required" formControlName="description"/>
                            <mat-hint>Role Description</mat-hint>
                            <mat-icon matSuffix>description</mat-icon>
                        </mat-form-field>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-conten -->
</div><!-- .container-component -->