<div class="component-item-list">
    <div class="container-content">
        <div class="content">
            <div class="container-table">
                <table>
                    <caption>Inventory Items</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- .container-table -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-item-list -->