<div class="component-home">
    <div class="container-component">
        <div class="content">
            <div class="container-form">
                <form class="password" method="post" action="" [formGroup]="passwordForm" (ngSubmit)="change_password()">
                    <header>Password</header>
                    <fieldset>
                        <div class="messages">
                            <p>Please provide your new password</p>
                            <p *ngIf="message != ''" [attr.class]="message_type" >{{ message }}</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" id="pw1" name="pw1" required readonly matInput class="field-pw field-required" formControlName="pw1"/>
                            <mat-icon matSuffix>password</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" id="pw2" name="pw2" required readonly matInput class="field-pw field-required" formControlName="pw2"/>
                            <mat-icon matSuffix>password</mat-icon>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <button id="btn-submit-change-password" 
                            type="submit" 
                            [attr.disabled]="enabled ? null : false"
                            >Change Password</button>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-component -->
</div><!-- .component-home -->
