<div class="component-admin-client">
    <div class="container-content">
        <div class="content">
            <div class="container-form">
                <form class="clientForm" method="post" action="">
                    <header>Client</header>
                    <fieldset>
                        <caption>Details</caption>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="name" name="name" required readonly matInput class="field-name field-required" formControlName="name"/>
                            <mat-icon matSuffix>business</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="slug" name="slug" required readonly matInput class="field-slug field-required" formControlName="slug"/>
                            <mat-icon matSuffix>business</mat-icon>
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <button id="btn-submit-client">Save</button>
                    </fieldset>
                </form>
            </div><!-- .container-form -->
        </div><!-- .content -->
    </div><!-- .container-content -->
</div><!-- .component-admin-client -->